.ipynb_checkpoints
__pycache__
.DS_Store
# .vscode/ Lets not ignore the settings file
src/soft_information.egg-info/
# .vscode/settings.json
.Scratch/jobs/
.Scratch/calibration_grids/
.Scratch/.DS_Store
**/.DS_Store
src/soft_information_decoding.egg-info
src/cpp_soft_info.cpython-311-darwin.so
src/example_module.cpython-311-darwin.so
src/cpp_soft_info.cpython-312-darwin.so
src/example_module.cpython-312-darwin.so
.pytest_cache/
.coverage
__pycache__/
build
notebooks/Simulator/IQ_data_extreme.pkl
notebooks/Simulator/IQ_data.pkl

src/cpp_soft_info.cpython-311-darwin.so
src/example_module.cpython-311-darwin.so
/Users/mha/My_Drive/Desktop/Studium/Physik/MSc/Semester_3/IBM/IBM_GIT/Soft-Info/src/cpp_soft_info.cpython-311-darwin.so
/Users/mha/My_Drive/Desktop/Studium/Physik/MSc/Semester_3/IBM/IBM_GIT/Soft-Info/src/example_module.cpython-311-darwin.so
/Users/mha/My_Drive/Desktop/Studium/Physik/MSc/Semester_3/IBM/IBM_GIT/Soft-Info/notebooks/Decoding/_Thesis/_Thesis_decoding/results/Leakage