.ipynb_checkpoints
__pycache__
.DS_Store
# .vscode/ Lets not ignore the settings file
src/soft_information.egg-info/
# .vscode/settings.json
.Scratch/jobs/
.Scratch/calibration_grids/
.Scratch/.DS_Store
**/.DS_Store
