[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
qiskit = "*"
matplotlib = "*"
qiskit-ibm-provider = "*"
ipywidgets = "*"
stim = "*"
qiskit-aer = "*"
pymatching = "*"
qiskit-ibm-runtime = "*"
qiskit-experiments = "*"
setuptools-scm = "*"
tqdm = "*"
qiskit-qec = {file = "libs/qiskit-qec", editable = true}
result-saver = {file = "libs/qiskit-saver-provider", editable = true}
scikit-learn = "*"
networkx = "*"
pytest = "*"
coverage = "*"
soft-information-decoding = {file = ".", editable = true}

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
