[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
qiskit = "*"
matplotlib = "*"
qiskit-ibm-provider = "*"
ipywidgets = "*"
stim = "*"
qiskit-aer = "*"
pymatching = "*"
qiskit-qec = {file = "qiskit-qec", editable = true}
qiskit-ibm-runtime = "*"
qiskit-experiments = "*"
setuptools-scm = "*"
soft-information = {file = ".", editable = true}

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
